.container-fluid{:style => "position: relative"}
  .custom-gray-bg{:style => "bottom: 0"}
  %section.container.release-section.u-margin-bottom-xl.text-center
    %img{src: "/images/home/release.svg", alt: "Release Count", loading: "lazy"}
    .release-count-label
      %h1 14.7
    .release-section-description
      .ten-oh-description-body.text-center
        %h3.u-margin-bottom-0.u-margin-top-0 New features every month
        %p.u-margin-bottom-xs.u-margin-top-xxs
        GitLab 14.7 adds seamless Geo experience and supports .NET 6 in SAST

        .btn-group
          = link_to "/releases/2022/01/22/gitlab-14-7-released/", class: "btn cta-btn orange-light slp-mt-16" do
            See what’s new

:erb
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
      "description":"GitLab 14.7 released with Streaming Audit Events, GitLab Runner compliance with FIPS 140-2, and Group Access Tokens",
    "applicationCategory": "DevOps",
    "operatingSystem": "Linux based",
      "name":"GitLab 14.7",
      "releaseNotes":"https://about.gitlab.com/releases/2022/01/22/gitlab-14-7-released/",
      "softwareVersion":"14.7",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "ratingCount": "285"
    },
    "offers": {
      "@type": "AggregateOffer",
      "priceCurrency": "USD",
      "lowPrice": "0",
      "highPrice": "1188.00"
    }
  }
  </script>
